<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MovieBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <userSettings>
    <MovieBrowser.Properties.Settings>
      <setting name="IgnoreWords" serializeAs="String">
        <value>DivXNL-Team  DVDRip DVDR XviD TS V2 XVID FEEL</value>
      </setting>
    </MovieBrowser.Properties.Settings>
  </userSettings>
  <connectionStrings><add name="MovieDbEntities" connectionString="metadata=res://*/Model.MoviesDb.csdl|res://*/Model.MoviesDb.ssdl|res://*/Model.MoviesDb.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=E:\codebase\VisualStudioProjects\_working_\MovieBrowser\MovieBrowser\Database\MovieDb.sqlite&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <!-- Log4net Logging Setup -->
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="${ALLUSERSPROFILE}/MaxInc/app.log.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="Date | Level | SessionID | Logger | Message |" />
        <param name="ConversionPattern" value="%n %date{ABSOLUTE}| %-5p | %-30logger| %m|%n " />
      </layout>
    </appender>
  </log4net>

  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>-->
  
</configuration>